<% if users.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <% users.each do |user| %>
    <tbody>
      <tr>
        <td class="w-25">
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td>Follow:<%= user.followings.count %></td>
        <td>Follower:<%= user.followers.count %></td>
        <td><%= render 'btn', user: user %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
<% else %>
  <p>no user</p>
<% end %>