<h2>User info</h2>
<table class="table">
  <tr>
    <%= image_tag user.get_profile_image(100,100) %>
  </tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>Follow</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>Follower</th>
    <th>
      <%= link_to user.followers.count, user_followers_path(user) %>
    </th>
  </tr>
</table>
<div class="row mb-1">
  <% if current_user == user %>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <%= render 'relationships/btn', user: user %>
  <% end %>
</div>
<div class="row">
  <% unless user.id == current_user.id %>
    <% if (current_user.following? user) && (user.following? current_user) %>
      <% if isRoom == true %>
        <%= link_to 'DM', room_path(roomId), class: "btn btn-outline-primary btn-block" %>
      <% else %>
        <%= form_with model: room do |f| %>
          <%= fields_for entry do |e| %>
            <%= e.hidden_field :user_id, value: user.id %>
          <% end %>
          <%= f.submit 'start chat', class: "btn btn-outline-primary btn-block" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>